@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
html, body{margin: 0; padding: 0; background-color: #171717;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

/* 헤더 영역-------------------- */
header{
	height: 60px;
	background-color: #363636;
}
header .wrap{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .wrap .logo{}
header .wrap .logo a{}
header .wrap .logo a img{
	display: block;
	height: 35px;
}

header .wrap nav{}
header .wrap nav ul{display: flex; flex-wrap: wrap;}
header .wrap nav ul li { margin: 0 15px}
header .wrap nav ul li a{
	display: block;
	text-transform: uppercase;
	color:#888;
	font-size: 14px;
}
header .wrap nav ul li:hover a{color:#f00}


/* 푸터 영역------------------------- */
footer{
	width: 100%;
	padding: 20px 0;
	background-color: #000;
	border-top:1px solid #ff0;
	text-align: center;
	color:#fff;
	font-size: 14px;
}





