@charset "utf-8";

#main{width: 100%; height: 400px; background-color: #555; overflow: hidden;}
#main .slider{}
#main .slider .slide{height: 400px; background-size: cover; background-position: 50% 50%;}

#main .slick-arrow{width: 50px; height: 50px; z-index: 10;background-size: contain; background-position: 50% 50%; opacity: 1; transition: left 0.5s, right 0.5s;}

#main .slick-arrow:hover{opacity: 1;}
#main .slick-prev{left:-50px; background-image: url(../img/leftarrow.svg); filter:invert(100%);}
#main .slick-next{right:-50px; background-image: url(../img/rightarrow.svg); filter:invert(100%);}

#main:hover .slick-prev{left:25px; background-image: url(../img/leftarrow.svg);}
#main:hover .slick-next{right:25px; background-image: url(../img/rightarrow.svg);}

#main .slick-prev:before{content:"";}
#main .slick-next:before{content:"";}

#main .slick-dots{bottom: 25px;}
#main .slick-dots li{width: 40px; height: 3px; padding: 0; transition:width 0.5s;}
#main .slick-dots li button{width: 100%; height: 100%; background-color: #fff;}

#main .slick-dots li.slick-active{width: 70px;}

#main .slick-dots li.slick-active button{background-color: #f00;}
#main .slick-dots li button:before{content:"";}



section{padding:80px 0 60px;}
section .wrap {width: 1200px; margin: 0 auto;}
section .wrap .title {
	border-bottom: 1px solid #555; 
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

section .wrap .title h3{
	font-size: 24px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 500;
}
section .wrap .title a{
	display: block;
	font-size: 14px;
	color:#ff7;
	text-transform: capitalize;
}
section .wrap .title a:hover{color:#fa0}
section .wrap .cont{
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
section .wrap .cont > div {
	width: calc(50% - 20px);
	height: 300px;
	margin: 0 10px 20px;
	background-color: #555;
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
}

